input,
textarea {
  appearance: none;
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--input-base);
  font-size: 1rem;
  font: var(--text-md);
  color: var(--text-body);
  padding: 1rem;
  border: 2px solid var(--input-stroke);
}

input {
  &::placeholder {
    color: var(--input-placeholder);
  }
}

input:focus,
textarea:focus {
  outline: 1px solid var(--brand-light);
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

input[type="datetime-local"] {
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}

textarea {
  resize: none;
}
